@page
@model IndexModel
@{
    ViewData["Title"] = "Hamzah's Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Hey there!</h1>
    <p>Learn about <a href="https://hamzahmahmood.dev"> Hamzah</a>.</p>
</div>
